html
{
    background-color: #2b3a67;
}

body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

button
{
    background-color: #ffcb90;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    transition: 0.1s border linear;
}

button:hover
{
    background-color: #FFA33A;
    border: 0.25rem solid #DE7700;
}

button:active
{
    background-color: #DE7700;
}

#calculator
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22rem;
    height: 30rem;
    border: 1.5rem solid #496a81;
    border-radius: 2rem;
    background-color: #66999b;
}

#grid
{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    'sc    sc    sc    sc'
    'ac    c     s     divide'
    'seven eight nine  multiply'
    'four  five  six   subtract'
    'one   two   three addition'
    'zero  zero  f     equal';
    gap: 0.2rem;
    padding: 1rem;
    height: 100%;
}

#screen
{
    grid-area: sc;
    font-size: 2.5rem;
    text-align: end;
    align-self: center;
    width: 100%;
    height: 100%;
    background-color: #242424;
    color: #DBDBDB;
    margin-bottom: 0.5rem;
}

.clear
{
    color: #FF5956;
}

.operator
{
    color: #5F4060;
}

#all-clear { grid-area: ac; }
#clear { grid-area: c; }
#sign { grid-area: s; }
#divide { grid-area: divide; }
#multiply { grid-area: multiply; }
#subtract { grid-area: subtract; }
#addition { grid-area: addition; }
#equal { grid-area: equal; }
#one { grid-area: one; }
#two { grid-area: two; }
#three { grid-area: three; }
#four { grid-area: four; }
#five { grid-area: five; }
#six { grid-area: six; }
#seven { grid-area: seven; }
#eight { grid-area: eight; }
#nine { grid-area: nine; }
#zero { grid-area: zero; }
#decimal { grid-area: f; }